* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #CCC;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chat {
    padding: 1rem;
    background: #FFF;
    border-radius: .5rem;
    width: 500px;
    height: 540px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    display: block;
}

.main::-webkit-scrollbar {
    display: none;
}

.from {
    display: flex;
    max-width: calc(100% - 130px);
    margin-right: auto;
    margin-bottom: .5rem;
}

.from p {
    background: #000;
    color: #FFF;
    word-wrap: break-word;
    padding: .5rem;
    border-radius: .5rem .5rem .5rem 0;
}

.to {
    max-width: calc(100% - 130px);
    margin-left: auto;
    margin-bottom: .5rem;

    display: flex;
    align-items: flex-end;
}

.to p {
    background: #EEE;
    color: #333;
    word-wrap: break-word;
    padding: .5rem;
    border-radius: .5rem .5rem 0 .5rem;
    margin-left: auto;
}

.to img {
    width: 100% !important;
}

.form {width: 100%; padding: .5rem 0; display: flex; align-items: center; justify-content: space-between;}
.form input {width: 100%; padding: .5rem;}
.form button {padding: .5rem;}

.form2 {width: 100%; padding: .5rem 0; display: none; align-items: center; justify-content: space-between;}
.form2 button {padding: .5rem; width: 100%}

.form3 {width: 100%; padding: .5rem 0; display: none; align-items: center; justify-content: space-between;}
.form3 button {padding: .5rem; width: 100%}

.cam {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;

    display: none;
    align-items: center;
    justify-content: center;
}

.cam video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(-1);
}

.cam .button {
    position: absolute;
    z-index: 110;
    bottom: 30px;
    padding: .5rem 2rem;
}